**1-Write a Python program to calculate the length of a string using 2 ways

In [1]:
s = "Rana"
print(len(s))

4

In [2]:
length = 0
for char in s:
    length += 1
print(length)

4

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [3]:
def double_two(s):
    n = len(s)
    if n < 2:
        return ""
    return s[:2] + s[-2:]

print(double_two("w3resource"))

w3ce

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [5]:
def add_ing(s):
    if len(s) >= 3:
        if s[-3:] == "ing":
            return s + "ly"
        else:
            return s + "ing"
    return s

tests = [["intersting", "interstingly"], "abc", "hi", "Rana", "Study"]
for test in tests:
    print(add_ing(test))

interstingly
abcing
hi
Ranaing
Studying

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [8]:
def longest_word(words):
    ans = ""
    for word in words:
        ans = word if len(word) >= len(ans) else ans
    return ans, len(ans)

def longest_word_2(words):
    ans = max(words, key=len)
    return ans, len(ans)

words = ["Ahmed", "Rana", "Ramadan", "Science", "different", "low"]
print(longest_word(words))
print(longest_word_2(words))

('different', 9)
('different', 9)

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [10]:
def change_string(s, change):
    return change + s[1:len(s)-1] + change
print(change_string("abca", "e"))

ebce

In [11]:
def change_string_2(s, change):
    l = list(s)
    l[0], l[len(s)-1] = change, change
    return "".join(l)
print(change_string_2("abca", "e"))

ebce

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [157]:
def remove_odd_index(s):
    l = list(s)
    for i in range(len(l)):
        if i % 2 != 0:
            l[i] = None
    return "".join([char for char in l if char != None])

print(remove_odd_index("abca"))

ac

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [162]:
def count_each_word(s):
    l = s.split(" ")
    dic = {}
    for word in l:
        dic[word] = dic.get(word, 0) + 1
    print(dic)
print(count_each_word("amr and ahmed are frindes but amr is the tallest"))

{'amr': 2, 'and': 1, 'ahmed': 1, 'are': 1, 'frindes': 1, 'but': 1, 'is': 1, 'the': 1, 'tallest': 1}
None

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [19]:
user_input = input("Enter: ")
print(user_input.upper())
print(user_input.lower())

Enter: rana
RANA
rana

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [20]:
def reverse_multiple_of_four(s):
    if len(s) % 4 == 0:
        return s[::-1]
    return s
print(reverse_multiple_of_four("Rana"))

anaR

**10- Write a Python program to remove a newline in Python

In [6]:
ss = """
 Hello This is me 
 
"""
print(ss)
print("#####")
def remove_end_space(s):
    return s.rstrip()

print(remove_end_space(ss))
print("#####")

 Hello This is me


#####

 Hello This is me
#####

**11-Write a Python program to check whether a string starts with specified characters

In [23]:
def chack_start(s, prefix):
    return s.startswith(prefix)

print(chack_start("Kite is Flying", "Kite"))
print(chack_start("Bird is Flying", "Kite"))

True
False

**12- Write a Python program to add prefix text to all of the lines in a string

In [13]:
ss = """kkmkmkfkd
mkmkmkmf
mkmkmkm
mkmkmkmm
mkmkm
mkmmkmkmkmkmk
kmkmkmkmk"""

l = ss.split("\n")
print(l)
for char in l:
    char += "lolo"
print(l)

['kkmkmkfkd', 'mkmkmkmf', 'mkmkmkm', 'mkmkmkmm', 'mkmkm', 'mkmmkmkmkmkmk', 'kmkmkmkmk']
['kkmkmkfkd', 'mkmkmkmf', 'mkmkmkm', 'mkmkmkmm', 'mkmkm', 'mkmmkmkmkmkmk', 'kmkmkmkmk']

**13-Write a Python program to print the following numbers up to 2 decimal places

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

**15-Write a Python program to display a number with a comma separator

**16-Write a Python program to reverse a string using 2 ways

In [26]:
def reverse_1(s):
    l = list(s)
    l.reverse()
    return "".join(l)

def reverse_2(s):
    return s[::-1]

print(reverse_1("Rana"))
print(reverse_2("Rana"))

anaR
anaR

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [28]:
def count_repetion(s):
    dic = {}
    for char in s:
        dic[char] = dic.get(char, 0) + 1
    return dic

print(count_repetion("Rana"))

{'R': 1, 'a': 2, 'n': 1}

**18-Write a Python program to find the first non-repeating character in a given string

In [32]:
def first_not_repeating(s):
    for char in s:
        if s.count(char) == 1:
            return char
print(first_not_repeating("ahmad"))
print(first_not_repeating("rana"))

h
r

**19-Write a Python program to remove spaces from a given string

In [37]:
def remove_spaces(s):
    return ''.join(s.split())

print(remove_spaces("ki njn kk"))

kinjnkk

**20-Write a Python program to count the number of non-empty substrings of a given string

In [40]:
def count_nonEmpty(s):
    l = s.split()
    return len(l)

print(count_nonEmpty("mkfnkn kmfkfk mkmkfmkm kmfkmkmf"))

4

**21-write a Python program to swap first and last element of any list.

In [43]:
def swap(l):
    temp = l[0]
    l[0] = l[-1]
    l[-1] = temp
    
l = [1, 2, 3, 4, 5]
swap(l)
l

[5, 2, 3, 4, 1]

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [46]:
def swap_two(l, pos1, pos2):
    temp = l[pos1-1]
    l[pos1-1] = l[pos2-1]
    l[pos2-1] = temp
    print(l)
    
swap_two( [23, 65, 19, 90], pos1 = 1, pos2 = 3)

[19, 65, 23, 90]

**23- search for the all ways to know the length of the list

In [14]:
# one - way using the built in len function
l = [1, 2, 3]
print(len(l))

3

In [15]:
# second using a foor loop
count = 0
for num in l:
    count += 1
print(count)

3

In [16]:
# using the operartor module
from operator import length_hint 
print(length_hint(l))

3

**24-write a Python code to find the Maximum number of list of numbers.

In [47]:
max([23, 65, 19, 90])

90

**25-write a Python code to find the Minimum number of list of numbers.

In [48]:
min([23, 65, 19, 90])

19

**26-search for if an elem is existing in list

In [52]:
if 17 in [23, 65, 19, 90]:
    print("True")
else:
    print("False")

False

**27- clear python list using different ways

In [53]:
l = [1, 2, 3, 4, 5]
l.clear()
l

[]

In [57]:
l = [0,8,6,8,5]
print(l)
del l

[0, 8, 6, 8, 5]

**28-remove duplicated elements from a list

In [59]:
def remove_duplicates(l):
    return list(set(l))
print([1,4,4,5,6,2,1,6,7,77,7])

[1, 4, 4, 5, 6, 2, 1, 6, 7, 77, 7]

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

In [61]:
l = ["Gfg", 3, "is", 8]
dic = {l[i]:l[i+1] for i in range(0, len(l), 2)}
print(dic)

{'Gfg': 3, 'is': 8}

**30-write a python program to count unique values inside a list using different ways

In [62]:
def unique(l):
    ans = 0
    for char in l:
        if l.count(char) == 1:
            ans += 1
    return ans

print(unique([1,4,4,5,6,2,1,6,7,77,7]))

3

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3 
Output : [4, 3] )

In [63]:
def extarst_frequency(l, k):
    dic = {num: l.count(num) for num in l}
    ans = []
    for key,v in dic.items():
        if v > k:
            ans.append(key)
    return ans

print(extarst_frequency([4, 6, 4, 3, 3, 4, 3, 4, 3, 8], 3))

[4, 3]

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

In [65]:
l = [1,2,2,3,4,5]
ans = []
for i in range(1,len(l)):
    ans.append(max(l[i], l[i-1]))
print(ans)

[2, 2, 3, 4, 5]

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

In [21]:
def all_combinations(l):
    for i in range(len(l)):
        for j in range(len(l)):
            for k in range(len(l)):
                if (i != j and j != k and i != k):
                    print(f"{l[i]} {l[j]} {l[k]} ###", end="")
print(all_combinations([1, 2, 3]))

1 2 3 ###1 3 2 ###2 1 3 ###2 3 1 ###3 1 2 ###3 2 1 ###None

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3] 
Output: 
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

In [24]:
k = [1, 2, 3]
ans = []
for i in range(len(k)):
    m = [k[i]]
    for j in range(i+1, len(k)):
        m.append(k[j])
    ans.append(m)
print(ans)

[[1, 2, 3], [2, 3], [3]]

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1 

**Output : 2 3 4 5 2)

In [72]:
def remove_element(l, element):
    
    for num in l:
        if num == element:
            l.remove(element)
    if element in l:
        l.remove(element)
    return l
l = [1, 1, 2, 3, 4, 5, 1, 2, 1]
print(remove_element(l, 1))

[2, 3, 4, 5, 2]

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [73]:
def replace_index(l1, l2):
    for i in range(len(l2)):
        l2[i] = l1[l2[i]]
    return l2
print(replace_index(['Gfg', 'is', 'best'], [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]))

['Gfg', 'is', 'best', 'is', 'Gfg', 'Gfg', 'Gfg', 'best', 'is', 'is', 'best', 'Gfg']

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2 
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3 
Output : [] )

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

**40- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

Output: 
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [85]:
def sort_dic_by_key(dic):
    dic = dict(sorted(dic.items()))
    print(dic)
    
def sort_dic_by_value(dic):
    dic = dict(sorted(dic.items(), key=lambda item:item[1]))
    print(dic)
sort_dic_by_value({'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32})
sort_dic_by_key({'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32})

{'yash': 2, 'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32}
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7 
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [86]:
def concatenate(d1, d2, d3):
    for k,v in d2.items():
        d1[k] = d1.get(k, 0) + v
    
    for k,v in d3.items():
        d1[k] = d1.get(k, 0) + v
    
    return d1

concatenate({1:10, 2:20}, {3:30, 4:40}, {5:50,6:60})

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops

In [87]:
d = {1:1, 2:2, 3:3, "kokok":"plplpl"}
for k,v in d.items():
    print(f"{k}: {v}")

1: 1
2: 2
3: 3
kokok: plplpl

**44- Write a Python script to merge two Python dictionaries

In [90]:
def merge1(d1, d2):
    d1.update(d2)
    print(d1)
    
def merge2(d1, d2):
    for k,v in d2.items():
        d1[k] = v
    print(d1)
    
merge1({1:2, 3:4, "m":1}, {"6":6, "4":4, "566":"lplp"})
merge2({1:2, 3:4, "m":1}, {"6":6, "4":4, "566":"lplp"})

{1: 2, 3: 4, 'm': 1, '6': 6, '4': 4, '566': 'lplp'}
{1: 2, 3: 4, 'm': 1, '6': 6, '4': 4, '566': 'lplp'}

**45-Write a Python program to get the maximum and minimum values of a dictionary values

In [93]:
d = {"one":1, ",mfl":2, 2:3, "45":90, 0: 0}
print(max(d.values()))
print(min(d.values()))

90
0

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

In [100]:
def drop_empty(dic):
    for k, v in list(dic.items()):
        if v is None:
            dic.pop(k)
    return dic 
print(drop_empty({'c1': 'Red', 'c2': 'Green', 'c3': None}))

{'c1': 'Red', 'c2': 'Green'}

**47-Write a Python program to create a tuple of numbers and print one item

In [104]:
t = tuple(range(2,20))
print(t)
t[0]

(2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19)

2

**48-Write a Python program to unpack a tuple into several variables

In [105]:
x, y, z = (1, 2, 3)

**49-Write a Python program to add an item to a tuple

In [111]:
# didnot know
(4, ) + t

(4, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19)

**50-Write a Python program to convert a tuple to a string

In [114]:
ss = ""
for i in t:
    ss += str(i)
print(ss)

2345678910111213141516171819

**51-Write a Python program to convert a list to a tuple

In [115]:
l = [4, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
converted_tuple = tuple(l)
converted_tuple

(4, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19)

**52-Write a Python program to reverse a tuple

In [116]:
t[::-1]

(19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2)

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [119]:
def replace_last_value(l, value):
    for i in range(len(l)):
        l[i] = l[i][0:len(l[i])-1] + (value, )
    return(l)
print(replace_last_value( [(10, 20, 40), (40, 50, 60), (70, 80, 90)], 100))

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [129]:
def str_to_tuple(s):
    return tuple(s)
print(str_to_tuple("python 3.0"))

('p', 'y', 't', 'h', 'o', 'n', ' ', '3', '.', '0')

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [130]:
def avg_tuple(t):
    count = len(t)
    summ = sum(t)
    return summ / count

print(avg_tuple((1,2,3,4,5)))

3.0

**56-Write a Python program to add member(s) to a set.

In [146]:
def add_to_set(s, member):
    if isinstance(member, set):
        s.update(member)
    else:
        s.add(member)
    return s

print(add_to_set(set([1,2,3]), 9))
print(add_to_set(set([1,2,3]), {9,7,5}))
# print(type({1,2,3}))

{1, 2, 3, 9}
{1, 2, 3, 5, 7, 9}

**57-Write a Python program to remove an item from a set if it is present in the set.

In [150]:
def remove_from_set(s, item):
    if item in s:
        s.remove(item)
    print(s)
    
remove_from_set({1, 2, 3, 5, 7, 9}, 3)

{1, 2, 5, 7, 9}

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

**59-Write a Python program to find the maximum and minimum values in a set

In [153]:
def max_set(s):
    return max(s)

def min_set(s):
    return min(s)

print(mmax({1, 2, 5, 7, 9}))
print(minn({1, 2, 5, 7, 9}))

9
1

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [154]:
def all_pairs(l, val):
    ans = []
    while l:
        num = l.pop()
        diff = val - num
        if diff in l:
            ans.append((num, diff))
            
    print(ans)

all_pairs([1, 5, 3, 7, 9], 12)

[(9, 3), (7, 5)]